@import "~bootswatch/dist/cosmo/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cosmo/bootswatch";

#navbkrd{
    background-image: linear-gradient(to bottom right, #80ff80,#31ad62
    );
    height: 200px;
    // justify-content: center !important;
}
.logo{
 margin-left:45%;
 margin-right: 20%;
}

.head{
    color: greenyellow;
    font-family: 'Anton', sans-serif;
    padding-left: 45%;
    padding-right: 45%;
 font-size: xx-large;
    
}

h3{    
    color: #80ff80;
    font-family: 'Anton', sans-serif;
    padding-left: 40%;
    padding-right: 20%;
}
.background{
   background-image: url(./componants/images/autumnal-fruits.jpg);
}

.navitem1{
    height: 75px;
    font-family: 'Anton', sans-serif;
    position: relative;
    margin-top: 50%; 
    margin-left: 10%;

}

.navitem2{
    height: 75px;
    width: 100px;
    font-family: 'Anton', sans-serif;
    margin-top: 55%; 

;
}

#ctnshoppin{
    float: left;
    background-color: #ffcc00;
}
.footer {
        padding: 30px 0;
        clear: both;
        font-size: 12px;
        color: black;
        text-align: center;
        background:linear-gradient(to bottom right, #e6ccb3,  #cc9966);  
        border-top: 8px solid  #33cc33;
        height: 150px;
        width: 100%;
        bottom: 0;
      }
.App-products{
display: flex;
flex-wrap: wrap;

}

.login {
    text-align: center;
    justify-content: center;
   
}

.acctCreate {
    text-align: center;
    justify-content: center;
}
.cart-product-image{
    height: 200px;
    width: 200px;

}
.logout{
    background-color: #ffc107 !important;
    height: 75px;
    margin-top: 55px;
    font-family: 'Anton', sans-serif;
}

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 640px) {
      .logo{
          margin-left: 2%;
          margin-right: 2%;
      }

    
#navbkrd{
    background-image: linear-gradient(to bottom right, #B1E10E , rgb(61, 172, 103)
    );
    height: 90px;
}
    .navitem1{
        height: 50px;
        width: 70px;
        font-size: xx-small;

    }

    .navitem2{
        height: 50px;
        width: 70px;
        font-size: xx-small;
    }
    h3{
        color: white;
        margin-left: 20%;
        margin-top: 10%;
    }
    .product-description{
        color: white;
    }
    .Product-title {
    color: white;
      }
      .Product-price{
          color: white;
      }
      Modal{
          background-color: black;
      }
      
  }
