@import "~bootswatch/dist/cosmo/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cosmo/bootswatch";

#navbkrd{
    background-image: linear-gradient(to bottom right, #80ff80,#31ad62
    );
    height: 125px;
}
.logo{
margin-left: 45%;
margin-right: 30%;
}
.head{
    color: greenyellow;
    font-family: 'Anton', sans-serif;
    padding-left: 45%;
    padding-right: 45%;
 font-size: xx-large;
    
}

h3{    
    color: #80ff80;
    font-family: 'Anton', sans-serif;
    padding-left: 44%;
    padding-right: 30%;
}
// .productcontainer{
//     background-color: #ffffcc;

// }
.background{
   background-image: url(./componants/images/autumnal-fruits.jpg);
}

.navitem1{
    height: 75px;
    font-family: 'Anton', sans-serif;
    margin: 10px;
    position: relative;
    margin-top: 25px;
}

.navitem2{
    height: 75px;
    width: 100px;
    font-family: 'Anton', sans-serif;
    margin:10px ;
    margin-top: 25px;   
}

#ctnshoppin{
    float: left;
    background-color: #ffcc00;
}
.footer {
        padding: 30px 0;
        clear: both;
        font-size: 12px;
        color: black;
        text-align: center;
        background:linear-gradient(to bottom right, #e6ccb3,  #cc9966);  
        border-top: 8px solid  #33cc33;
        height: 150px;
        width: 100%;
        bottom: 0;
      }
.App-products{
display: flex;
flex-wrap: wrap;

}

.login {
    text-align: center;
    justify-content: center;
   
}

.acctCreate {
    text-align: center;
    justify-content: center;
}

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 640px) {
    .logo{
        padding-left: 0%;
    
    }
    
#navbkrd{
    background-image: linear-gradient(to bottom right, #B1E10E , #06751E
    );
    height: 90px;
}
    .navitem1{
        height: 50px;
        width: 70px;
        font-size: xx-small;

    }

    .navitem2{
        height: 50px;
        width: 70px;
        font-size: xx-small;
    }
    .productcontainer{
        background-image:url(./componants/images/woodtabel.jpg) ;
    
    }
    h3{
        color: white;
    }
    .product-description{
        color: white;
    }
    .Product-title {
    color: white;
      }
      .Product-price{
          color: white;
      }
      Modal{
          background-color: black;
      }
      
  }
   /* Medium devices (landscape tablets, 768px and up) */
   @media only screen and (min-width: 768px) {}

