.Product {
  border: 1px solid #33cc33 ;
  margin: 10px;
  padding: 20px;
  background-image: linear-gradient(to top left,#31ad62,#00f561);
  /* justify-content: sace-between; */
}


.Product-title {
  font-size: 25px;
  font-weight: bold;
}

.Product-price {
  font-size: 20px;
  margin-bottom: 1rem;
}

.product-image{
  height: 200px;
  width: 200px;
}
.Product-buy-button {
  display: inline-block;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  border: 0;
  outline: 0;
  border-radius: 100em;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  background-color:  #31ad62;
  color: #fff;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  -webkit-appearance: none;
}

.Product-buy-button:hover,
.Product-buy-button:focus {
  background-color: #b3ffb3;
}
.Product-buy-button:active{
  background-color: #b3ffb3;
  transform: translateY(4px);
}

@media (min-width: 800px) {
  .Product {
    margin:1rem;
    width: 20%;
    justify-content: space-between;
  }
}
